#lbInfo{
    font-size:29px;
    font-weight: bold;
}

.container{
    height:max-content;
    display:grid;
    grid-template-rows: 170px 170px 170px 170px 170px;
    grid-template-columns: 1fr 1fr 0.3fr 0.7fr 1fr 1fr;
    grid-template-areas:
    "f g g g g g"
    "s g g g g g"
    "i g g g g g"
    "t g g g g g"
    "gl cl tx tp p p"
}

.Formes{
    grid-area:f;
    background-color:black;
    display:grid;
    width:100%;
    height: 100%;
    object-fit: cover;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "rect circ"
    "polig trian"
}
.imagerect{
    grid-area:rect;
}
.imagecir{
    grid-area:circ;
}
.imagepol{
    grid-area:polig;
}
.imagetri{
    grid-area:trian;
}

.imagecir,.imagerect,.imagepol,.imagetri,.imagecopiar,.imageEscala,.imageRotar{
    border:2px solid;
    width:100%;
    height:100%;
    object-fit: cover;
}

.Transformacions{
    grid-area: s;
    background-color: blue;
    display:grid;
    width:100%;
    height: 100%;
    object-fit: cover;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "copia escala"
    "gir negatiu"
}

.imagecopiar{
    grid-area:copia;
}
.imageEscala{
    grid-area:escala;
}
.imageRotar{
    grid-area:gir;
}

.Imatges{
    grid-area: i;
    background-color:blueviolet;
    }

.TipusLinia{
    grid-area: t;
    background-color:brown;
}

.GruixLinia{
    grid-area: gl;
    background-color:burlywood;
    }

.ColorLinia{
    grid-area: cl;
    background-color:cadetblue;
    z-index:0;
    }
.ColorPicker{
    z-index: 1;
    width:150px;
    height:75px;
    margin-top:5px;
}
#lbColorLinia{
    font-size:23px;
    margin-bottom: 50px;
}

.Paterns{
    grid-area: p;
    background-color:chartreuse;
    }

.Text{
        grid-area:tx;
        background-color: plum;
    }
.TextParams{
    grid-area:tp;
    background-color: plum;
    z-index: 0;
}


.AreaGrafica{
    grid-area: g;
    }

#tbCostats{
    font-size:23px;
    width:30px;
    height:auto;
    background-color:lightgreen;
}

#btmes,#btmesf,#btmnysf
{
    display: inline;
    width:50px;
    height: 35px;
    text-align: center;
    font-size:23px;
    background-color:lightsteelblue;
}
.retol
{
    display:block;
    padding-top: 20px;
    font-size:23px;
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 30px;
}
#lbGruix{
    padding-left: 100px;
    margin-right: 20px;
    font-size:29px;
    display: inline;
}
#tipolin,#tipotxt{
    display:block;
    width:200px;
    text-align: center;
    font-size:19px;
    height: 30px;
    margin-left: 30px;
    background-color:orangered;
}

#imgtext{
    display:inline;
    width:130px;
    height:150px;
    margin-top: 10px;
}

#tipotxt{
    display: block;
    background-color:thistle;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.retol2
{
    display:inline;
    margin-bottom: 10px;
    padding-top: 20px;
    font-size:23px;
    font-weight: bold;
    padding-left: 30px;
}
#midatxt{
    font-size:29px;
    font-weight: bold;
}
#tbText{
    width:700px;
}